.carousel {
  position:relative;
  &__slides {
    display: flex;
    margin-left: 80px;
    a:first-child .carousel__preview {
      margin-right: 21.5px;
    }
  }
  &__prev {
    position:absolute;
    bottom:0;
    left:0;
    height:100%;
    width:60px;
    background-color: $color-carousel-arrows;
  }
  &__prev-image {
    width:21px;
    height:40px;
    background-image: url("../img/prevm.png");
    position:absolute;
    top:50.5px;
    left: 15px;
  }
  &__next {
    position:absolute;
    bottom:0;
    right:0;
    height:100%;
    width:60px;
    background-color: $color-carousel-arrows;
  }
  &__next-image {
    width:21px;
    height:40px;
    background-image: url("../img/nextm.png");
    position:absolute;
    top:50.5px;
    left: 20px;
  }
  &__preview {
    display: flex;
    flex-direction: column;
    max-width: 140px;
    margin-right: 20.5px;
    img {
      align-self: center;
    }
  }
  &__caption {
    font-family: 'PT Sans';
    font-size: 14.2px;
    letter-spacing: -0.2px;
    margin-bottom: 9px;
    color: $color-carousel-top-text;
  }
  &__excerpt {
    margin-top: 2px;
    font-family: 'PT Sans';
    font-size: 14.2px;
    letter-spacing: -0.1px;
    line-height: 17px;
    color: $color-carousel-bottom-text;
    @include line-clamp(3);
    overflow: hidden;
  }
}