.main-preview {
  background-color: #f7f9fa;
  border-bottom-style:solid;
  border-bottom-width:5px;
  border-color:$color-main-preview-border;
  display: flex;
  &__description {
    position:relative;
  }
  &__text-wrapper {
    width:240px;

  }
  &__text {
    word-wrap:normal;
    overflow: hidden;
    max-height: 220px;
    column-width: 196px;
  }
  &__heading {
    margin-left: 19px;
    margin-top: 8px;
    margin-right:25px;
    font-family: $font-extra, sans-serif;
    line-height: 35px;
    color: $color-main-preview-title;
    font-size:29.5px;
  }
  &__excerpt {
    max-height: 110px;
    overflow: hidden;
    margin-left: 19px;
    margin-right:25px;
    font-family: $font-primary, sans-serif;
    line-height: 18px;
    margin-top: 14px;
    color:$color-text-basic;
    font-size: 13.7px;
  }
  .wrapper-controls {
    position:absolute;
    bottom: 10.5px;
    right:10px;
  }
  .controls {
    display:flex;

    &::before {
      content:"";
      width:12px;
      height:24px;
      background-image: url("../img/prev.png");
      margin-right: 7.5px;
    }

    &::after {
      content:"";
      width:13px;
      height:24px;
      margin-left: 7.5px;
      background-image: url("../img/next.png");
    }

    &__numbers {
      font-family: 'PT Sans';
      font-weight: bold;
      font-size: 18px;
      color: $color-text-basic;
    }    
  }
  
}