$color-text-basic: #333333;
$color-main-preview-border: #c70000;
$color-main-preview-title: #c80000;
$color-carousel-top-text: #c70000;
$color-carousel-bottom-text: #3d76cc;
$color-carousel-arrows: rgba(255, 255, 255, 0.7);
$color-footer-text:  #567ab0;
$color-footer-background:  #f7f9fa;
$color-footer-border:   #d7d8d9;
$color-videos-more: #3d76cc;
$color-top-panel: #000000;
$color-top-panel-text: #fefefe;
$color-videos-caption: #6a0099;
$font-primary: 'PT Sans';
$font-extra: 'PT Serif';