.videos {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  @include bottom-border(5px);
  &__heading {
    display:flex;
    justify-content: space-between;
    margin-bottom: 13.5px;
  }
  &__caption {
    line-height: 13px;
    font-family: $font-primary, sans-serif;
    font-weight: bold;
    font-size: 18.2px;
    letter-spacing: -0.5px;
    color: $color-videos-caption;
    margin-left: 5px;
    margin-right: 5px;
  }
  &__line-container {
    flex-grow: 1;
    position: relative;
  }
  &__line {
    position: absolute;
    width: 100%;
    bottom: 5px;
    @include bottom-border(2px);
    
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }
  &__link:first-child .videos__excerpt {
    margin-top: -3px;
  }
  &__preview {
    display: flex;
    margin-bottom: 10.5px;
  }
  &__excerpt {
    font-family: $font-primary, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-basic;
    margin-left: 10px;
    margin-top: -5px;
    padding-right: 10px;
    letter-spacing: -0.2px;
    @include line-clamp(4);
    overflow: hidden;
    max-height: 85px;
  }
  &__more {
    margin-bottom: 6px;
  }
  &__more-link {
    font-family: $font-primary, sans-serif;
    font-size: 18px;
    letter-spacing: -0.2px;
    color: $color-videos-more;
  }

  &__thumb-container {
    position:relative;
    &::after {
      content:"";
      width:28px;
    height:24px;
    background-image: url("../img/vid.png");
    position:absolute;
    bottom:2px;
    left:2px;
    }
  }
  &__thumbnail {
    display:block;
  }
}